/********************** Fonts ****************************/

@font-face {
  font-family: 'Lucznik1303Plus';
  src: url('../fonts/Lucznik1303Plus.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Lucznik1303Plus.woff') format('woff'), 
  url('../fonts/Lucznik1303Plus.ttf')  format('truetype'), 
  url('../fonts/Lucznik1303Plus.svg#Lucznik1303Plus') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********************** General **************************/

body {
  /*padding-top: 70px;*/
  margin: 0;

}

section {
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  margin: 0;
}

/********************** Text *****************************/
.photo-desc {
  font-family:"proxima-nova", sans-serif;
  font-weight:400;
  font-size: 18px;
}

span {
  background-color: #fff;
  padding: 0px 5px;
}

/********************** Nav ******************************/

 .navbar-brand {
  font-family: Lucznik1303Plus;
}

.nav a {
  font-family:"proxima-nova", sans-serif;
  font-weight:400;
}

/******************* Section 1 ****************************/

.section-01 {
/*  width: 200px;
  overflow: hidden;
  display: block;
  height: 500px;*/
}

#video-intro {
  position: fixed;
  /*position: absolute;*/
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
/*  max-width: 100%;
  max-height: 100%;*/
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.intro {
  padding-top: 5%;    
}

.intro h1 {
  color: #fff;   
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size:100px;
}
  
.intro h2 {
  color: #ecce3f;   
  font-family: "proxima-nova",sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size:80px;
  margin-top: -22px;
  /*padding-bottom: 0.2em;*/
}
  
.intro h3 {
  color: #fff; 
  /*  font-family: "lucznik1303plus", monospace;*/
  font-family:"proxima-nova", sans-serif;
  font-weight:400;
  font-size: 18px;
  font-style:normal;
}
  
.arrow {
  font-family:"proxima-nova", sans-serif;
  font-weight:900;
  font-size: 60px;
  color:#fff;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  /*position:absolute;*/
  margin-top: 0px;
  display: block;
  position: absolute;
  bottom: 0vh;
}

/******************* Section 3 ****************************/

.section-03 {
  background-image: url("../img/australia/au_01.jpg");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-bottom {
  position: absolute;
  bottom: 10vh;
  left: 80vw;

}
